<div class="center hero-unit">
  <h1>TOC management system</h1>
  <body background="background.jpg">
  <h2>
    This is the home page for the TOC manager developed by Venkatesh
  </h2>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
