<div class="center hero-unit">
  <h1>TOC management system</h1>

  <h2 background="background.jpg">
    This is the home page for the TOC manager developed by Venkatesh
  </h2>
  <div background="background.jpg"></div>
</div>


