<div class="center hero-unit">
  <h1>TOC management system</h1>

  <h2>
    This is the home page for the TOC manager developed by Venkatesh
  </h2>
  <body background="app/assets/images/background.jpg">
</div>


